<br>
<div class="row">
  <div class="col-md-1"></div>
  <div class="col-md-11">
    <div class="row">
      <div style="font-size: smaller" class="col-md-1">
        <strong >Bootstrap</strong></div>
      <div  style="font-size: smaller" class="col-md-1.5">
        Documentation</div>
      <div style="font-size: smaller"class="col-md-1">Examples</div>
      <div style="font-size: smaller"class="col-md-1">Themes</div>
      <div style="font-size: smaller" class="col-md-1">Expo</div>
      <div style="font-size: smaller" class="col-md-1">Blog</div>
    </div>
  </div>

</div>
<br>
<div class="container-fluid" style="height: 658px; background-image:linear-gradient(135deg,#271b38,#563d7c,#7952b3)">

  <br><br><br>

  <br><br>

<div class="row">
<div class="col-md-5"></div>
  <div class="col-md-6">
  <h1 STYLE=" border:solid; font-size: 800%; color: lightgray; width: 150px; height: 150px; text-align: center "> B </h1>
     </div>
</div>
  <br>
  <p style="text-align: center; font-size: 150%; color: lightgray">Bootstrap is the most popular HTML, CSS, and JS framework in the </p>

  <p style="text-align: center; font-size: 150%; color: lightgray">world for building responsive, mobile-first projects on the web. </p>

  <div class="container" style="color: #fffe94; border: solid; width: 300px; height: 40px; text-align: center">
  <div class="row">
    <div class="col-md-1"></div>
    <div class="col-md-11">
      Download BootStrap
    </div>
  </div>
  </div>
  <p style="text-align: center; font-size: small; color: lightgray">Currently v4.0.0-alpha.6 </p>

  <br>



<div class="container" style="border: solid; color:lightgray; width: 400px; height: 110px">
  <br>
  <div class="row" >

    <div class="col-md-3">
      <img width="70" height="70" src="https://d10fqi5lwwlsdr.cloudfront.net/sitefinityImages/default-source/landings/section--cover-2.jpg" alt="">
    </div>
    <div class="col-md-9">
      <p style="text-align: center; font-size: small; color: lightgray">The Progress® Sitefinity™ CMS makes it easy to build modern web experiences.
        ads via Carbon </p>
    </div>
  </div>
</div>



</div>


<br>
<br>

<h1 style="text-align: center"  >Easy to get started.</h1>

<p style="text-align: center; font-size: larger ">Quickly include Bootstrap's CSS and JS into any project. Use your favorite package </p>


 <p style="text-align: center; font-size: larger "> manager, download the source, or use the Bootstrap CDN.</p>
<br>

<div class="row">
  <div class="col-md-1"></div>

  <div class="col-md-5">
    <h4>Managed dependencies</h4>
    <p>Include Bootstrap's source Sass and JavaScript files via Bower, Composer, Meteor, or npm. Package managed installs don't include documentation, but do include our Gruntfile and readme.</p>
    <button class="btn-outline-primary" style=" border-color:#6b499d;  "> View install methods</button>
  </div>
  <div class="col-md-5">
    <h4>Bootstrap CDN</h4>
    <p>When you just need to include Bootstrap's compiled CSS and JS, use the Bootstrap CDN, free from the Max CDN folks.</p>
    <div class="highlight">

      <pre>

      dasdasdasd


      </pre>

    </div>

  </div>
  <div class="col-md-1"></div>







</div>

<div class="row">
  <div class="col-md-1"></div>
  <div class="col-md-11">
  <p>Looking for something else? Compiled builds of Bootstrap's CSS and JS are also available.</p>
    <button class="btn-outline-primary" style=" border-color:#6b499d;  "> More download options</button>

  </div>
</div>

<br><br><br><br>


<h1 style="text-align: center"  >Designed for everyone, everywhere.</h1>

<p style="text-align: center; font-size: larger ">Bootstrap makes front-end web development faster and easier. It's made for folks of all  </p>
<p style="text-align: center; font-size: larger ">skill levels, devices of all shapes, and projects of all sizes. </p>

<br><br>

<div class="row">

  <div class="col-md-1"></div>

  <div class="col-md-3">
    <img src="https://v4-alpha.getbootstrap.com/assets/img/sass.png" alt="Sass support" class="img-fluid">
    <h4>Preprocessor</h4>
    <p>Bootstrap ships with vanilla CSS, but its source code utilizes Sass, a popular CSS preprocessor. Quickly get started with precompiled CSS or build on the source.</p>
  </div>
  <div class="col-md-3">
    <img src="https://v4-alpha.getbootstrap.com/assets/img/devices.png" alt="Sass support" class="img-fluid">
    <h4>One framework, every device.</h4>
    <p>Bootstrap easily and efficiently scales your websites and applications with a single code base, from phones to tablets to desktops with CSS media queries.</p>
  </div>
  <div class="col-md-3">
    <img src="https://v4-alpha.getbootstrap.com/assets/img/components.png" alt="Sass support" class="img-fluid">
  <h4>Full of features</h4>
    <p>With Bootstrap, you get extensive and beautiful documentation for common HTML elements, dozens of custom HTML and CSS components, and awesome jQuery plugins.</p>
  </div>








</div>


<div class="row">
  <div class="col-md-1"></div>
  <div class="col-md-11">
    <p> <strong>Bootstrap is open source!</strong> It's hosted, developed, and maintained on GitHub by folks like you.</p>
    <button class="btn-outline-primary" style=" border-color:#6b499d;  "> View GitHub project</button>

  </div>
</div>


<br><br><br><br><br>
