
p{
  border: 10px;
  border-style: solid;
  border-color: #0c8da0;

}
h1 {
  color: white ;
  background-color: #6a98d6;
}
#verde{
  border-color: green;
}
.rojo{
  color: darkblue;
}
p:hover{
  border-color: white;
  background: white;


}
