


<p class="rojo"></p>






<!--

<div class="row">



  <div style="background-color: red" class="col-sm-6"> Rojo</div>

  <div style="background-color: red" class="col-sm-6"> Rojo</div>





  <div style="background-color: blue" class="col-md-12"> Azul</div>
  <div style="background-color: blue" class="col-md-12"> Azul</div>


  <div style="background-color: yellow"class="col-lg-12">Amarrilo</div>
  <div style="background-color: yellow"class="col-lg-12">Amarrilo</div>



  <div style="background-color: green" class="col-xl-6">Verde</div>
  <div style="background-color: green" class="col-xl-6">Verde</div>



</div>






  <div style="background-color: yellow" class="row">
    COl1

    <div class="col-md-6"></div>

    <div class="col-md-6">

      <div style="background-color: yellow" class="row">
        Col1
        <div class="col-md-12">

          <div style="background-color: yellow" class="row">
            Col1

            <div class="col-md-4"></div>
            <div class="col-md-4"></div>
            <div class="col-md-4"></div>


          </div>

        </div>

      </div>

    </div>

  </div>

-->

  <div class="row">
    <div class="col-md-2"></div>
    <div class="col-md-10">
      <div class="row">
        <div class="col-md-1">Boot</div>
        <div class="col-md-1">Doc</div>
        <div class="col-md-1">Exam</div>
        <div class="col-md-1">The</div>
        <div class="col-md-1">Expo</div>
        <div class="col-md-1">Blog</div>
      </div>
    </div>

  </div>


<br>
<br>
<br>
<br>

<div class="container">

<h1>Titulo</h1>
<p>
  Using color to add meaning only provides a visual indication, which will not be conveyed to users of assistive
  technologies – such as screen readers. Ensure that information denoted by the color is either obvious from the content itself (e.g. the visible t
  ext), or is included through alternative means, such as additional text hidden with the .sr-only class.





</p>

</div>
