<div class="container-fluid" style="height: 40px; background-image:linear-gradient(0deg ,#C8FF92,#58FF3E)"
     xmlns="http://www.w3.org/1999/html">
</div>
<div class="row">
  <div class="col-md-3"></div>
  <div class="col-md-9">
    <div class="row">
      <div style=" color:#000a3b; font-family: Candara" class="col-md-9">
        <strong style="font-size: 300%; text-align: center;" >Bienvenido Usuario Pendejo</strong></div>

    </div>
  </div>

</div>


<div class="container-fluid" style="height: 658px; background-image:linear-gradient(0deg,#33A52B,#58FF3E,#C8FF92)">

  <br><br><br>



  <div class="row">
    <div class="col-md-5"></div>
    <div class="col-md-6">
      <h1 STYLE=" border:solid; font-size: 800%; color: #000a3b; width: 150px; height: 150px; text-align: center "> P </h1>
    </div>
  </div>
  <br>
  <p style="text-align: center; font-size: 150%; color:#063579;"> Informate sobre el consumo de energía eléctrica en tu hogar u oficina
  </p>

  <p style="text-align: center; font-size: 150%; color: #063579">  </p>




<div class="row">


  <div class="col-md-4">
    <div class="container" style="border: solid; color:#000a3b; width: 400px; height: 110px">
      <br>
      <div class="row" >

        <div class="col-md-3">
          <img width="70" height="70" src="https://www.shareicon.net/download/2015/12/27/693785_gears_512x512.png" alt="">
        </div>
        <div class="col-md-9">
          <p style="text-align: center; font-size: 200%;  color: white"> <strong>CONOCE</strong> </p>
        </div>
      </div>
    </div>

  </div>
  <div class="col-md-4">
    <div class="container" style="border: solid; color:#000a3b; width: 400px; height: 110px">
    <br>
    <div class="row" >

      <div class="col-md-3">
        <img width="70" height="70" src="https://cdn0.iconfinder.com/data/icons/huge-business-icons/512/Recession.png" alt="">
      </div>
      <div class="col-md-9">
        <p style="text-align: center; font-size: 200%; color: white"> <strong>REDUCE</strong> </p>
      </div>
    </div>
  </div></div>
  <div class="col-md-4">
    <div class="container" style="border: solid; color:#000a3b; width: 400px; height: 110px">
      <br>
      <div class="row" >

        <div class="col-md-3">
          <img width="70" height="70" src="https://d30y9cdsu7xlg0.cloudfront.net/png/21216-200.png" alt="">
        </div>
        <div class="col-md-9">
          <p style="text-align: center; font-size: 200%;  color: white"> <strong>AHORRA</strong> </p>
        </div>
      </div>
    </div>
  </div>

</div>

  <br><br><br>
  <div class="row">

    <div class="col-md-4"></div>

    <div class="col-md-7">
      <a style=" font-size: 300%; text-align: center; background: transparent;"   target="_blank" class="bt btn-primary" href="https:/dl.dropboxusercontent.com/s/d5c076pykh9zy93/Pendejo%20%285%29.apk?dl=0">
      ¡UNETE AL CAMBIO!
      </a>
    </div>

  </div>

<div class="row">

  <div class="col-md-2"></div>
  <div class="col-md-9" style="text-align: center">
    <h1 style="color: #000a3b">↑ ↑ ↑</h1>
    <h5 style="text-align: center;color: #000a3b">Descarga nuestra App para Android y forma parte de cambio</h5>


</div>



  </div>



</div>


<br>
<br>

<h1 style="text-align: center"  >Motivación.</h1>

<div class="container">
<p style="text-align: center; font-size: larger ">Como ciudadanos de un planeta con recursos limitados, la comprehensión de algunos conceptos básicos del ambiente es muy importante
  El creciente uso de tecnologías ha hecho que en los últimos años el consumo energético, aumente de manera considerable,
  pero, ¿Podríamos utilizar esta misma tecnología para resolver este problema?
   Así nace "Pendejo" . Es una aplicación con compromiso ambiental, medimos nuestro éxito por el resultado positivo que podemos tener sobre las personas y el ambiente</p>
</div>

<p style="text-align: center; font-size: larger "> </p>
<br>

<br><br>

<div class="row">
  <div class="col-md-1"></div>

  <div class="col-md-4">
    <h4>Google App Inventor </h4>
    <p>Inventor es una plataforma de Google Labs para crear aplicaciones de software para el sistema operativo Android. De forma visual y a partir de un conjunto de herramientas básicas, el usuario puede ir enlazando una serie de bloques para crear la aplicación. </p>

  </div>
  <div class="col-md-1"></div>
  <div class="col-md-4">
    <h4>Aplicación móvil</h4>
    <p>Es una aplicación informática diseñada para ser ejecutada en teléfonos inteligentes, tabletas y otros dispositivos móviles y que permite al usuario efectuar una tarea concreta de cualquier tipo, facilitando las gestiones o actividades a desarrollar..</p>
    <div class="highlight">



    </div>

  </div>
  <div class="col-md-1"></div>







</div>


<br><br><br><br>


<h1 style="text-align: center"  >Herramientas necesarias para la creacion de la App:</h1>

<p style="text-align: center; font-size: larger ">Computadora con acceso a internet </p>
<p style="text-align: center; font-size: larger ">Smartphone </p>
<p style="text-align: center; font-size: larger ">Cuenta google </p>

<br><br>

<div class="row">

  <div class="col-md-1"></div>

  <div class="col-md-3">
    <img src="http://appinventor.mit.edu/explore/sites/all/themes/appinventor/logo.png" alt="Sass support" class="img-fluid">
    <br><br>
    <br><br><br><br>
    <h4>Ingresar a la pagina </h4>
    <p>Entrar a la pagina
      <a href="http://appinventor.mit.edu/explore/" target="_blank"> aqui</a> desde google chroome
     e ingresar al apartado Create apps
    </p>
  </div>
  <div class="col-md-1"></div>
  <div class="col-md-3">
    <img src="http://ptgmedia.pearsoncmg.com/images/chap2_9780133798630/elementLinks/02fig01.jpg" class="img-fluid">
    <br>
    <br>
    <br>
    <h4>Pantalla Principal</h4>
    <p>Encontraremos un panel donde podemos agregar botones, cajas de texto, imágenes, visores web, etc.

    </p>
  </div>
  <div class="col-md-1"></div>
  <div class="col-md-3">
    <img src="https://img.difoosion.com/wp-content/blogs.dir/28/files/2015/10/App-Inventor-2-Bloque-Boton.jpg" alt="Sass support" class="img-fluid">
    <br><br>
    <h4>Panel de Bloques</h4>
    <p>En la parte superior izquierda se observa las diferentes operaciones que podemos realizar como agregar una nueva variable, ingresar texto, cálculos matemáticos y operaciones lógicas.
    </p>
  </div>








</div>





<br><br><br><br><br>


<div class="container">
  <div class="row">
    <div class="col-md-6"></div>
    <div class="col-md-6" style="text-align: right">Derechos reservados 2017 </div>

  </div>

</div>
